@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --smooth-typing-speed: .15s;
}

html {
    height: 100%;
    width: 100%;
    background-color: rgb(36, 36, 36);
}

span {
    color: rgb(243, 236, 236);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
}

#container {
    border: 2px solid rgb(21, 21, 21);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: normal;
    width: 500px;
    max-width: 90%;
    min-height: 29px;
}

#cursor {
    position: absolute;
    transition: .15s;
    animation: blinkCursor 1s ease-in-out forwards infinite;
    font-size: 22px;
}


.showChar {
    clip-path: polygon(0 0, 1px 0, 1px 100%, 0 100%);
    animation: reveal var(--smooth-typing-speed) ease-in-out forwards;
}

@keyframes reveal {
    from {
        clip-path: polygon(0 0, 1px 0, 1px 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes blinkCursor {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}